name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: andrea-avo
          template: classic
          base: header, community, repositories, metadata
          
          # Fitur yang sudah ada
          plugin_languages: yes
          
          # Fitur-fitur baru
          plugin_habits: yes
          plugin_habits_facts: yes
          config_timezone: Asia/Jakarta
          
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          
          plugin_lines: yes
